* {
	box-sizing: border-box;
	cursor: default;
}
*:focus {
    outline: none;
}
a{
	text-decoration:none;
	
}

html, body { 
	margin:0; 
	padding:0; 
	border:0; 
	width:100%; 
	height: 100%;
}

body {
	background-image: url("resources/plainbackground.jpg");
	background-size: 100% 100%;
    	background-repeat: no-repeat;
}

div#navcontainer { 
	height:84px;
	background:#000;
	background: linear-gradient(to bottom,#000 0%,#232323 10%,#353535 18%,#232323 31%,#4c4c4c 50%,#000 100%);
	border-bottom:4px solid #eb0303;
	width:100%;
}

div#navbar {
	padding-left: 3px;
}

img#navlogo {
	height: auto;
	vertical-align: bottom;
	margin-top: -2px;
}
div#imgcontainer {
	width: 23.076923077%;
	display: inline-block;
	text-align: center;
	margin: 10px 0;
	
}

.clear{
	clear:both;
}
div#formwrap {
	margin-left: calc(30% - 100px);
	margin-top: 100px;
	width: 700px;
	height: 350px;
}
div.logindetails{
	margin:10% 2% 0 0;
	color:black;
	text-align:center;
}
span.formfont{
	font-family:  Georgia, sans-serif;
	font-size: 1.5em;
	margin-bottom: .25em;
	padding:.25em;
	font-size: 1.5em;
	color: white;
}

input[type=text], input[type=password]{
	margin-bottom: .25em;
	padding:.25em;
	font-size: 1em;
	background-color: #29201D;
	color: white;
	font-family:  Georgia, sans-serif;
	border-color: darkgrey;
	border-radius: 5px;
}
input#loginbutton {
	color: white;
	font-size: 1.5em;
	height: 40px;
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}
input#loginbutton:active {
  transform: translateY(2px);
}
#loginbutton{
	width:15em;
	height:3em;
	background: rgba(209,59,35,1);
	background: -moz-linear-gradient(left, rgba(209,59,35,1) 0%, rgba(228,84,68,1) 9%, rgba(236,65,68,1) 35%, rgba(228,81,68,1) 70%, rgba(234,54,42,1) 95%, rgba(234,54,42,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(209,59,35,1)), color-stop(9%, rgba(228,84,68,1)), color-stop(35%, rgba(236,65,68,1)), color-stop(70%, rgba(228,81,68,1)), color-stop(95%, rgba(234,54,42,1)), color-stop(100%, rgba(234,54,42,1)));
	background: -webkit-linear-gradient(left, rgba(209,59,35,1) 0%, rgba(228,84,68,1) 9%, rgba(236,65,68,1) 35%, rgba(228,81,68,1) 70%, rgba(234,54,42,1) 95%, rgba(234,54,42,1) 100%);
	background: -o-linear-gradient(left, rgba(209,59,35,1) 0%, rgba(228,84,68,1) 9%, rgba(236,65,68,1) 35%, rgba(228,81,68,1) 70%, rgba(234,54,42,1) 95%, rgba(234,54,42,1) 100%);
	background: -ms-linear-gradient(left, rgba(209,59,35,1) 0%, rgba(228,84,68,1) 9%, rgba(236,65,68,1) 35%, rgba(228,81,68,1) 70%, rgba(234,54,42,1) 95%, rgba(234,54,42,1) 100%);
	background: linear-gradient(to right, rgba(209,59,35,1) 0%, rgba(228,84,68,1) 9%, rgba(236,65,68,1) 35%, rgba(228,81,68,1) 70%, rgba(234,54,42,1) 95%, rgba(234,54,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d13b23', endColorstr='#ea362a', GradientType=1 );
	color: white;
	border: 1.5px solid black;
    border-radius: 6px;
}

#loginbtn{
	margin:0 ;
}